################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs

/src/OpenRPA.Core/bin
/src/OpenRPA.Core/obj

/src/OpenRPA.Test/bin
/src/OpenRPA.Test/obj

/bin/*.*
!/bin/*.exe
!/bin/*.dll
