################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs

src/*
!src/OpenRPA.Core
!src/OpenRPA.Test
src/*/obj
src/*/bin
src/*/Properties

bin/*
!bin/*.exe
!bin/*.dll