################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs

src/*/obj
src/*/bin
src/packages

bin/*
!bin/*.zip
